.event-item {

    padding-left: 35px;
    position: relative;
    margin-top: 15px;

    &__circle {

        position: absolute;
        left: 0;
        top: 0;
        width: 21px;
        height: 21px;
        border-radius: 50px;
        display: inline-block;
        margin: 3px 0;

    }

    &__date {
        font-weight: 600;
        font-size: 18px;
    }

    &__title {
        font-weight: 500;
    }

    &__value {
        padding-left: 15px;
    }



}